<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sadhana.simplilyf" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowdevicesActivity"
            android:label="@string/title_activity_showdevices" >
        </activity>
        <activity
            android:name=".NestdevicesActivity"
            android:label="@string/title_activity_nest" >
        </activity>
        <activity
            android:name=".PhilipsdevicesActivity"
            android:label="@string/title_activity_philips" >
        </activity>
        <activity
            android:name=".VoicemoduleActivity"
            android:label="@string/title_activity_voicemodule" >
        </activity>
        <activity
            android:name=".NestLivingrmActivity"
            android:label="@string/title_activity_nest_livingrm" >
        </activity>
        <activity
            android:name=".UserRegistrationActivity"
            android:label="@string/title_activity_user_registration" >
        </activity>
    </application>

</manifest>
